# Ignore build output directories
/build/
/out/
/target/
/test-output
/logs

# Ignore log files
*.log
*.xlsx

# Ignore .xlsx files in the transactionsXLfiles folder
transactionsXLfiles/*.xlsx
test-Data/*xlsx

# Ignore .html files in the reports folder
reports/*.html
